# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*~
*.o
Makefile
config.log
config.status
m4/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
scenes/Makefile
src/Makefile
src/app/.deps/
src/app/Makefile
src/app/geomorph
src/fourier/.deps/
src/fourier/Makefile
src/fourier/libfourier.a
src/hf/.deps/
src/hf/Makefile
src/hf/libhf.a
src/utils/.deps/
src/utils/Makefile
src/utils/libutils.a
add-wall-error.sh
.kdev4
build
debug
release
*.kdev4
modifs.patch
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
po/Makevars.template
src/colmap/.deps/
src/colmap/colmap
config.rpath
m4
stamp-h1
